
html, body {
    height: 100%;
}
.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}
.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(28, 91, 226, 0.719);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backface-visibility: saturate(180%) blur(20px);
}
.site-header a {
  color: rgb(255, 254, 254);
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
.brand {
    font-weight: bold;
}

/*
 * INTRO SITE 
 */
.container-x {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.image-intro {
    height: 100%;
    overflow-y: auto; /* a value of 'scroll' will force scrollbars, even if they aren't necessary. This is cleaner.*/
    background-image: url(../img/fastbitop.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text-intro{
    color: #fff;
}
.mt-5-x, .my-5-x {
    margin-top: 13rem!important;
}

/* ARROW DOWN */
.chevron-margin-top {
  margin-top: 240px;
}
.chevron {

  position: absolute;
  width: 58px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: LightBlue;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
#chevron-sector {
  text-decoration: none;
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text-chevron {
  display: block;
  margin-top: 75px;
  margin-left: 2px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: lightblue;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* SERVICES SECTION */
.margin-section {
  margin-top:5em;
  margin-bottom: 5em;
}
.margin-section-top {
  margin-top:5em;

}
.title-section {
  color:blue;
  margin-bottom: 1em;
}

/*
* SOLUTIONS
*/
.solutions
{
  background-color: rgb(201, 230, 255);
  padding-bottom: 2em;
  padding-top: 2em;
}
.pentahoo-margin {
  margin-top:1em;
}

/*
* CONTACT
*/

.contact {
  background-color: rgb(201, 230, 255);
  /* background-image: url(../img/contact.jpg) ;

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  backface-visibility: saturate(180%) blur(20px); */
}
.xxx{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
  .mvs {
    max-width: 20rem;
  }
}

.overflow-hidden { overflow: hidden; }

@media (max-width: 680px) {
  #chevron-sector {
    visibility: hidden;
  }
}
